<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ife</title>
</head>
<body>
    <header>
        <h1>网站一级标题</h1>
        <ul>
            <li><a href="http://ife.baidu.com">网站导航链接一</a></li>
            <li><a href="http://ife.baidu.com">网站导航链接二</a></li>
            <li><a href="http://ife.baidu.com">网站导航链接三</a></li>
            <li><a href="http://ife.baidu.com">网站导航链接四</a></li>
        </ul>
    </header>
    <section>
        <article>
            <h2>文章一级标题</h2>
            <h3>文章二级标题</h3>
            <p>文章作者 文章发表时间</p>
            <p>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落</p>
            <p>换行了</p>
            <p>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落，换行了</p>
            <p>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落<a href="http://ife.baidu.com">这里有一个超链接</a>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落<b>这里有几个粗体字</b>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落</p>
            <img src="../asset/images/task01.jpg">
            <p>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落，换行了</p>
            <p>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落<b>这里有几个粗体字</b>，这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落，<a href="http://ife.baidu.com" target="_blank">这里是一个链接，会打开一个新页面跳转到http://ife.baidu.com</a>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落</p>
        </article>
        <article>
            <h2>另一篇文章的一级标题</h2>
            <h3>另一篇文章的二级标题</h3>
            <p>文章作者 文章发表时间</p>
            <p>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落，换行了</p>
            <p>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落,换行了</p>
            <p>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落<strong>这里有几个粗体字</strong>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落<a href="http://ife.baidu.com">这里可以链接到http://ife.baidu.com</a>这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落这是一个很长的段落</p>
            <img src="../asset/images/task01.jpg">
            <ul>
                <li>列表项目一</li>
                <li>列表项目二</li>
                <li>列表项目三</li>
            </ul>
        </article>
        <article>
            <h1>图片</h1>
            <p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br>
            <p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br>
            <p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br>
            <p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br><p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br><p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br>
            <p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br>
            <p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br>
            <p>好看的图片</p>
            <img src="../asset/images/task01.jpg">
            <br>

        </article>
        <article>
            <h2>最后一篇文章一级标题</h2>
            <h3>文章二级标题</h3>
            <p>文章作者 文章发表时间</p>
            <ol>
                <li>排名1</li>
                <li>排名2</li>
                <li>排名3</li>
            </ol>
            <p>下面是一个表格，给表格增加了一个border="1"好让你看出是一个表格</p>
            <table border="1">
                <thead>
                    <th>表头</th><th>表头</th><th>表头</th>
                </thead>
                <tbody>
                    <tr><td>表内容单元格</td><td>表内容单元格</td><td><a href="http://ife.baidu.com">操作</a></td></tr>
                    <tr><td>表内容单元格</td><td>表内容单元格</td><td><a href="http://ife.baidu.com">操作</a></td></tr>
                    <tr><td>表内容单元格</td><td>表内容单元格</td><td><a href="http://ife.baidu.com">操作</a></td></tr>
                    <tr><td>总计</td><td colspan="2">1000</td><</tr>
                </tbody>
            </table>
            <aside>
                <h2>这里以后是一个侧栏，这是侧栏的标题</h2>
                <h2>侧栏注册窗口标题</h2>
                <form>
                <p>请输入邮箱地址：<input placeholder="这是一个文本输入框"></p>
                <p>邮箱地址请按要求格式输入</p>
                <p>请输入密码：<input type="password" placeholder="这是一个文本输入框">请重复输入密码：<input type="password" placeholder="这是一个文本输入框"></p>
                <p>密码请为6-16位英文数字</p>
                <p>性别：<input type="radio" value="男" name="sex">男<input type="radio" name="sex" value="女">女
                    城市：<select>
                            <option>北京</option>
                            <option>上海</option>
                        </select>
                    爱好：<input type="checkbox" value="sport">运动<input type="checkbox" value="art">艺术<input type="checkbox">科学
                    个人描述：<textarea cols="20" rows="2" placeholder="这里是一个多行输入框，输入您的个人描述"></textarea>
                    <button type="submit">确认提交</button>
                </p>
                </form>
                <p>版本所有&copy;</p>
            </aside>
        </article>
    </section>
</body>
</html>